# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories and files
/build/
/CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

# Qt Creator/VS Code/IDE configurations
*.user
.vscode/
.idea/
.qtc_clangd/
.cache/

# Image and Data Files
*.fits
*.fit
*.lst
*.jpg
*.jpeg
*.png
*.bmp

# Thirdparty dependencies
/thirdparty/PCL/
/plugins/
/lib/


test_project/
process/
